{% extends 'base.html' %}

{% block content %}
<head>
   {% block title %}<title>Hire a Bike</title>{% endblock %}
</head>
<!---<style>
   body{

   }
</style>--->
<body>
   <form action="" method="POST">
   {% csrf_token %}
        {{ form1 }}
     </p>
        {{ form2 }}
     </p>
     <input type="submit" name="check" value="Check">
   
   {% if error1 %}
   <p>Your Bike id is {{ selected_bike.bike_id }}  </p>
   <input type="submit" name="startride" value="Start Ride">
   {% else %}

   <p>There is no bike at this depot, sorry</p>
   <p>Please wait or try after some time or select different origin Depot</p>
   {% endif %}   
     
   </form>
</body>
{% endblock %}
