{% extends 'base.html' %}

{% block content %}
  <h2>Starting Point</h2>
     <p><b>Depots: </b>
     <select id="menu1" name="Starting_Depots" class='form-control'>
         {% for results in depots %}
         <option disabled="true" selected>{{results.depot_name}}</option>
         {% endfor%}
     </select>
     </p>
     <h2>Destination Point</h2>
     <p><b>Depots: </b>
     <select  disabled="true" selected="true" name="Ending_Depots" class='form-control'>
        
        {% for results in depots %}
        <option selected>{{results.depot_name}}</option>
        {% endfor %}
     </select>
     </p>
     <p>Your Bike id is </p>
     <button onclick="location.href = '/hiresession'">Book</button>
{% endblock %}