<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <div>
        <p>Glasgow Bike Sharing Service</p>
        Amount to be paid: {{ price }} <br>
        Credit Card:<input type="text" name="credit_card"><br>
        CVV:<input type="text" name="cvv"><br>
        <p><input type="submit" name="pay" value="Pay Now"></p>
        {% if flag %}
        <p>Thank you for Paying, Meet you soon</p>
        {% else %}

        <p>Credit Card is invalid, Please try again</p>
        <!--- <input type="submit" name="pay" value="click here to pay"> --->
        {% endif %}
    </div>
</form>
{% if messages %}
{% for message in messages %}
<script>
    
    alert('{{ msg.message }}');
    
</script>
{% endfor %}
{% endif %}
</body>
<style>
    div {
        width: 150px; /*Width setting fixed value*/
        margin: 100px auto;
    }
</style>
</html>
