

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <div align="center"><input type="submit" value="login" /></div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <style>
    table {
        width: 150px; /*Width setting fixed value*/
        margin: 100px auto;
    }
  </style>

  {# Assumes you setup the password_reset view in your URLconf #}
<!--  <div align="center"><p><a href="{% url 'password_reset' %}">Lost password?</a></p></div>-->
  <div align="center"><p><a href="{% url 'password_reset' %}"><input type=button value="Lost password?"></a></p></div>
<!--  <div align="center"><a href="http://127.0.0.1:8000/bikecustomer/register" class="btn">Sign up</a></div>-->
  <div align="center"><a href="http://127.0.0.1:8000/bikecustomer/register"><input type=button value="Sign Up"></a></div>
{% endblock %}