<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Reset Password{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    <div class="title">
        <center><h2>Enter your email to reset password</h2></center>
    </div>
{% block content %}
  <form action="" method="post">
  {% csrf_token %}
    <div align="center">
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="input-forgot" value="Reset password">
      </div>
  </form>
{% endblock %}
</div>
</body>
<style>
.input-forgot{
      color:#549287;
      background:white;
      border-color: #549287;
      border-radius:40px;
      border-width: 1px;
      height:40px;
      width:160px;
      font:bold40px arial,sans-serif;
      text-shadow:none;
      font-size: 14px;
      font-family:arial,sans-serif;
      margin-top: 10px;
    }
    .input-forgot:hover{
      background:#549287;
      color:#fff;
      border-radius:40px;
      border-width: 1px;
      text-shadow:none;
    }
</style>
</html>