{% extends 'base.html' %}



{% block content %}
<head>
    {% block title %}<h1>Move Bike</h1>{% endblock %}
 </head>

 <body>
    <form action="" method="POST">
      {% csrf_token %}
      <p>
      {{ form }}
      </p>
      <p>
      {{ form1 }}
      </p>
      {% if bikes_id and b %}
      <p>The {{ bikes_id }} is at {{ cur_depot }} </p>
      {% endif %}
      <p>
      <input type="submit" name="move" value="Move">
      </p>
      {% if f %}
      <p>
         {{ messages }}
      </p>
      {% endif %}
      {% if move and not f and b %}
      <p>The {{ bikes_id }} has been moved to {{ move_depot }} </p>
      {% endif %}
      <p>
         <input type="submit" name="home" value="Go back to Home">
      </p>
    </form>
 </body>


{% endblock %}