{% extends 'base.html' %}



{% block content %}
<head>
    <h1>Track Bike</h1>
 </head>

 <body>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
    </p>
        <input type="submit" name="check" value="Check">
    {% if f %}
    <p> {{ messages }} </p>
    {% endif %}
    {% if check and not f%}
        {% if status and not repair %}
            <p> {{ bikes_id.bike_id }} started from {{ cur_depot }} and is currently on the way </p>
        {% elif repair and not f %}
            <p> {{ bikes_id}} is at {{ cur_depot }} and it requires Repair </p>
            <input type="submit" name="repair" value="Go to Repair Page to Repair">
        {% else %}
            <p> {{ bikes_id }} is at {{ cur_depot }} </p>
            <input type="submit" name="move" value="Move">
        {% endif %}
    {% endif %}
    </form>
 </body>


{% endblock %}